/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 22, 2022, 4:20:22 PM
    Author     : Joancito
*/
#TituloLogin{
    margin:0px 0px 0px 500px;
    width: 400px;
    color: white;
    font-family: lato;
    
}


body {
  width:100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/img/fondo.jpg);
  background-size:cover;
  background-position:center;
}

.nav-item{
    padding: 10px 10px 20px 20px;
    color:white;
    font-family: arial;
   
}



.navbar{
width:85%;
margin:auto;
padding:35px 0;
display: flex;
align-items:center;
justify-content:space-between;
  }

.navbar ul li{
  list-style:none;
  display:inline-block;
  margin: 0 20px;
}

.navbar ul li a{
  text-decoration:none;
  color: #fff;
  text-transform:uppercase;
  
}

#NombreYApe{
    margin:0px 0px 0px 570px;
    width: 400px;
    color: white;
    font-family: lato;
}

#TituloReclamosResueltos{
    margin:10px 0px 0px 270px;
    width: 400px;
    justify-content:right;
    float:left;
    color:white;
}

#TituloReclamosPendientes{
    margin:10px 0px 0px 840px;
    color:white;
}

#tipoDatoReclamo{
    margin: 10px 494px  0px;
    width:400px;
    word-spacing: 0.7em;
    font-size:17px;
  
    color:white;
}

#tipoDatoReclamo1{
    margin:10px 0px 0px 220px;
    float:left;
    width:300px;
    word-spacing: 0.7em;
  
    color:white;
}

#tipoDatoReclamo2{
    margin:10px 0px 0px 810px;
    width:300px;
    word-spacing: 0.7em;
    color:white;
}

#reclamoIndividual{
    margin: 20px 435px  0px;
    padding:17px;
    width:370px;
    border-radius: 5% 10px;
    
    color:white;
    justify-content:center;
    font-family: arial;
    background:rgb(105 105 105 / 58%);
}

#reclamoIndividual1{
    margin:10px 100px 0px 150px;
    float:left;
    padding:10px;
    width:400px;
    border-radius: 5% 10px;
    
    color:white;
    justify-content:center;
    font-family: arial;
    background:rgb(66 208 129 / 58%);
}

#reclamoIndividual2{
    margin:10px 100px 0px 760px;
    padding:10px;
    width:350px;
    border-radius: 5% 10px;
    
    color:white;
    justify-content:center;
    font-family: arial;
    background:rgb(208 66 66 / 58%);
}

#mensajeNoReclamos{
  color:white;
   margin:20px 530px  0px;
}

#TituloLogins{
   margin: 10px 535px  0px;
    color:white;
}

#TipoDatoLogin{
    margin:10px 570px  0px;
    color:white;
  
  
}

#loginIndividual{
    width:85%;
    margin:10px 530px  0px;
    padding:10px;
    width:200px;
    border-radius: 5% 10px;
    
    color:white;
    justify-content:space-between;
    font-family: arial;
    background:rgb(84 170 40 / 56%);
  
}
#formulario{
  padding:10px;
  
}


.modificar{
  }

.modificar ul li{
  list-style:none;
  display:inline-block;
  margin: 0 20px;
}

.modificar ul li a{
  text-decoration:none;
  color: #fff;
  text-transform:uppercase;
  
}



.formDat{
    margin:10px;
}
.formDat input{
    margin:0px 70px 10px 510px;
    padding:10px;
    width:300px;
    border-radius: 10px 5%;
  background-color: #000;
  color:white;
}
.formDat input::placeholder{
    color:white
}
.button{
  margin:20px 70px 10px 70px;
}
.button input{
    margin:0px 70px 10px 510px;
    padding:10px;
    width:200px;
    border-radius: 5% 10px;
    box-sizing: border-box;
}

#tituloReclamoCentrado{
     margin:10px 0px 0px 455px;
    border: 3px solid #a3616100;
    width: 450px;
    justify-content:right;
    color:white;
}

#botonBorrar{
    margin:10px 100px 10px;
    background-color: #be1111bd;
    border: 3px solid #904c4c00;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 17px;
    
    
}

#botonBorrar:hover {
  background-color: #900e0eba;
}

#botonBorrar:active {
  background-color: rebeccapurple;
  color: white;
}

#botonBorrar:focus-visible {
  box-shadow: 0 0 0 2px white, 0 0 0 5px rebeccapurple;
  outline: none;
}

#botonModificar{
    margin:10px 25px 10px;
    background-color: #be1111bd;
    border: 3px solid #904c4c00;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 17px;
    
    
}

#botonModificar:active {
  background-color: rebeccapurple;
  color: white;
}

#botonModificar:focus-visible {
  box-shadow: 0 0 0 2px white, 0 0 0 5px rebeccapurple;
  outline: none;
}

#botonResolver{
    margin:10px 100px 10px;
    background-color: #be1111bd;
    border: 3px solid #904c4c00;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 17px;
    
    
}

#botonResolver:hover {
  background-color: #900e0eba;
}

#botonResolver:active {
  background-color: rebeccapurple;
  color: white;
}

#botonResolver:focus-visible {
  box-shadow: 0 0 0 2px white, 0 0 0 5px rebeccapurple;
  outline: none;
}

#TituloReclamosSoloPendientes{
    margin:10px 0px 0px 560px;
    color:white;
}

#tituloAlumbrado{
    margin:10px 0px 0px 140px;
    color:white;
 
}

#tituloPluvial{
    margin:66px 0px 0px 160px;
    color:white;
}

#tituloLimpieza{
    margin:66px 0px 0px 160px;
    color:white;
}

#tituloArbolado{
    margin:66px 0px 0px 160px;
    color:white;
}

#tipoDatoReclamoCuarto1{
    margin:50px 100px 20px 40px;
     color:white;
    float:left;
    word-spacing: 0.7em;
}

#reclamoIndividualAlumbrado{
     margin:80px 0px 0px 0px;
    padding:10px;
    width:500px;
    border-radius: 5% 10px;
    
    color:white;
    justify-content:center;
    font-family: arial;
    background:rgb(193 208 66 / 58%);
}

#tipoDatoReclamoCuarto2{
   margin:50px 100px 20px 40px;
  color:white;
    float:left;
    word-spacing: 0.7em;
}

#reclamoIndividualPluvial{
     margin:80px 0px 0px 0px;
    padding:10px;
    width:500px;
    border-radius: 5% 10px;
    
    color:white;
    justify-content:center;
    font-family: arial;
    background:rgb(66 123 208 / 58%);
}

#tipoDatoReclamoCuarto3{
  margin:50px 100px 20px 40px;
    color:white;
    float:left;
    word-spacing: 0.7em;
}

#reclamoIndividualLimpieza{
     margin:80px 0px 0px 0px;
    padding:10px;
    width:500px;
    border-radius: 5% 10px;
    
    color:white;
    justify-content:center;
    font-family: arial;
    background:rgb(186 66 208 / 58%);
}

#tipoDatoReclamoCuarto4{
  margin:50px 100px 20px 40px;
    color:white;
    float:left;
    word-spacing: 0.7em;
}


#reclamoIndividualArbolado{
     margin:80px 0px 0px 0px;
    padding:10px;
    width:500px;
    border-radius: 5% 10px;
    
    color:white;
    justify-content:center;
    font-family: arial;
    background:rgb(95 208 66 / 58%);
}


#TituloRegistro{
     margin:10px 0px 0px 560px;
    color:white;
}


.nav-item2{
    padding: 0px 0px 0px 0px;
    color:white;
    font-family: arial;
   
}



.navbar2{
  
width:85%;
margin:auto;
display: flex;
align-items:center;
justify-content:space-between;
  }

.navbar2 ul li{
  
  list-style:none;
  display:inline-block;
  margin: 0 20px;
}

.navbar2 ul li a{
   margin:10px 26px ;
  text-decoration:none;
  color: #fff;
  text-transform:uppercase;
  font-size:small;

    border: 3px solid #16520cc2;
    border-radius: 8px;
}

#bienvenido{
    color: white;
    font-family: lato;
}

#OperacionSatisfactoria{
    color: white;
    font-family: lato;
}


#formulario2{
    padding:10px;
}

.formDatReclamo2{
    margin:10px;
}

.formDat2 input{
    margin:0px 70px 10px 510px;
    padding:10px;
    width:300px;
    border-radius: 10px 5%;
  background-color: #000;
  color:white;
}
.formDat2 input::placeholder{
    color:white
}

.button2{
    margin:20px 70px 10px 70px;
}


#submit2{
    
}

.button2 input{
    margin:0px 70px 10px 510px;
    padding:10px;
    width:200px;
    border-radius: 5% 10px;
    box-sizing: border-box;
}
